@backgroundColor: #338833;
@contentBackground: #fdfdfd;

html {
    background: @backgroundColor !important;
}

body.page-body {
    background: @backgroundColor;
}

.post-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
    min-width: 480px;
    background: @contentBackground;
    border: 20px solid @contentBackground;
}
